/* Fonts ---------------------------------------------------------------------*/
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 300;
  src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff');
}

/*Generelt -------------------------------------------------------------------*/

body{
    background-color: #8DA9C4;
    overflow-x: hidden;
    margin-left: 0;
    margin-right: 0;
    width:100%;
    padding: 0;
}

a{
    color: black;
    transition: 0.3s all;
}

a:hover{
  color: white;
  text-shadow: 0px 0px 9px black;
}

.form-group.required .control-label:after {
  color: #d00;
  content: "*";
  position: absolute;
  margin-left: 8px;
  top:7px;
}

/*Midterste node på case.html ------------------------------------------------*/
.main{
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: none;
    transition: all .2s ease-in-out;
}

.main:hover{
    transform: scale(1.2);
    z-index: 9999;
}

/* grid ----------------------------------------------------------------------*/
.outer {
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

/*Noder rundt main på case.html ----------------------------------------------*/



.node{
    width: 250px;
    position: absolute;
    /*transition: all .2s ease-in-out;*/
}

/*noder plassering case.html -------------------------------------------------*/
.n1{
    left: 42%;
    top: 1%;
}

.n2{
    right: 23%;
    top: 13%;
}

.n3{
    right: 20%;
    top: 55%;
}

.n4{
    right: 42%;
    top: 90%;
}

.n5{
    left: 20%;
    top: 55%;
}

.n6{
    left: 23%;
    top: 13%;
}

/*Logg ut / lagre endringer / pluss knapp ------------------------------------*/

.savelog{
    bottom: 2%;
    position: fixed;
    left: 1%;
}

.logout{
    margin: 2%;
    
}

.pluss{
    border-radius: 50%;
    right: 1%;
    bottom: 2%;
    position: fixed;
    background-color: coral;
    border: 0;
    transition: filter 0.7s;
}

.pluss>.fas{
    margin: auto;
    padding: 15px;
    transition: filter 0.7s;
}

.pluss:hover, .pluss>.fas:hover{
  filter: drop-shadow(0 0 0.2rem black);
}

.pluss>.fas:hover{
  color: white;
}

/*Ikoner i hver case-node ----------------------------------------------------*/
.edit_icons{
    background-color: rgba(255, 255, 255, 0.5);
    display: none;
    width: 40%;
    position: absolute;
    top: 0;
    right: 0;
    border-bottom-left-radius: 20px;
}

.edit_icons>.edit{
    cursor: pointer;
    padding: 10%;
    margin: 0;
    float: right;
    font-size: 1.5em;
}

.new_picture{
    background-color: rgba(255, 255, 255, 0.7);
    display: none;
    user-select: none;
    width: 50%;
    position: absolute;
    top: 0;
    cursor: pointer;
    padding: 3%;
    font-weight: bold;
    border-bottom-right-radius: 20px;
}

.display_block{
    display: block;
}

.editable{
    background: lightskyblue;
}

.new_node{
    font-size: 3em;
    padding: 35%;
    color: gray;
    margin: auto;
    padding: 0;
}

.content{
    background-color: green;
    width: 150px;
    height: 30px;
    margin: 2%;
}

.card-img-top{
    height: 150px;
    object-fit: cover;
}

.fa-question{
  margin-right: 6px;
}

.fa-external-link-alt, .fa-file{
  margin-left: 6px;
}

/*Content i hver case node ---------------------------------------------------*/
audio{
  max-width: 98%;
  margin: auto;
  margin-top: 2%;
  margin-bottom: 2%;
}

/*case navigation case_mer.html ----------------------------------------------*/
.navigation{
  float: left;
  overflow: hidden;
  margin-left: 1%;
  top: 15%;
  position: fixed;
}

.navigation>a{
  display: block;
  width: 100px;
  margin-top: 20%;
  margin-bottom: 20%;
}

.navigation>a>img{
  width: 60px;
  height: 60px;
  margin-left: 5%;
  object-fit: cover;
  position: relative;
  display: block;
  border-radius: 50px;
  max-width: 100%;
}

.navigation>a>img:hover{
  transition: filter 0.7s;
  filter: drop-shadow(0 0 0.2rem black);
}

/*meny
https://codepen.io/JFarrow/pen/fFrpg  ----------------------------------------*/
.main-menu:hover,nav.main-menu.expanded {
  width:250px;
  overflow:visible;
}

.main-menu {
  background: #262626;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  position:fixed;
  top:15%;
  right:0;
  width:60px;
  overflow:hidden;
  -webkit-transition:width .05s linear;
  transition:width .05s linear;
  transition-duration: 0.2s;
  -webkit-transform:translateZ(0) scale(1,1);
  z-index:100000;
}

.main-menu>ul {
  margin: 7px 0;
}

.main-menu li {
  position:relative;
  padding-top: 4%;
  padding-bottom: 4%;
  display:block;
  width:250px;
}

.main-menu li>a {
  position:relative;
  display:table;
  border-collapse:collapse;
  border-spacing:0;
  color: gray;
   font-family: arial;
  font-size: 14px;
  text-decoration:none;
  -webkit-transform:translateZ(0) scale(1,1);
  -webkit-transition:all .1s linear;
  transition: all .1s linear;
}

.main-menu .nav-icon {
  position:relative;
  display:table-cell;
  width:60px;
  height:36px;
  text-align:center;
  vertical-align:middle;
  font-size:18px;
}

.main-menu .nav-text {
  font-size: 1.5em;
  position:relative;
  display:table-cell;
  vertical-align:middle;
  width:190px;
  font-family: 'Titillium Web', sans-serif;
}

.no-touch .scrollable.hover {
  overflow-y:hidden;
}

.no-touch .scrollable.hover:hover {
  overflow-y:auto;
  overflow:visible;
}

a:hover,a:focus {
  text-decoration:none;
}

nav {
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  -o-user-select:none;
  user-select:none;
}

nav ul,nav li {
  outline:0;
  margin:0;
  padding:0;
}

.main-menu li:hover>a,nav.main-menu li.active>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,.dashboard-page nav.dashboard-menu ul li.active a, fas:hover{
  color: white;
  text-shadow: 0px 0px 9px black;
}

.fa-2x {
  font-size: 2em;
  position: relative;
  display: table-cell;
  margin: 10px 30px 10px 20px;
  text-align: center;
  vertical-align: middle;
}

/* login form login.html -----------------------------------------------------*/
.login-container{
    margin-top: 5%;
    margin-bottom: 5%;
}
.login-logo{
    position: absolute;
    display: block;
    margin-left: 33.5%;
    margin-top: 10%;
    width: 120px;
    filter: drop-shadow(0 0 0.2rem black);
    z-index: 1000;
}
.login-logo img{
    height: 120px;
    border-radius: 100px;
    object-fit: cover;
    max-width: 100%;
}
/*administrator side ---------------------------------------------------------*/
.login-form-1{
    padding: 9%;
    background:#282726;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-1 h3{
    text-align: center;
    margin-bottom:12%;
    color:#fff;
}
/*student side ---------------------------------------------------------------*/
.login-form-2{
    padding: 9%;
    background: coral;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-2 h3{
    text-align: center;
    margin-bottom:12%;
    color: #fff;
}
.btnSubmit{
    font-weight: 600;
    width: 50%;
    color: #282726;
    background-color: #fff;
    border: none;
    border-radius: 1.5rem;
    padding:2%;
    transition: transform 0.3s;
    cursor: pointer;
}

.btnSubmit:hover{
  transform: scale(1.05);
}

.btnStudent{
    font-weight: 600;
    width: 100%;
    color: #282726;
    background-color: #fff;
    border: none;
    border-radius: 1.5rem;
    padding:2%;
    cursor: pointer;
    transition: transform 0.3s;
}

.btnStudent:hover{
    transform: scale(1.05);
}

.btnForgetPwd{
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}
.btnForgetPwd:hover{
    text-decoration:none;
    color:#fff;
}


/*!
 * Start Bootstrap - 4 Col Portfolio (https://startbootstrap.com/template-overviews/4-col-portfolio)
 * Copyright 2013-2018 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-4-col-portfolio/blob/master/LICENSE)

 all_cases.html ----------------------------------------------------------------
 */

.portfolio-item{
  margin-bottom: 2%;
  cursor: pointer;
}

.empty>.card{
  background-color: rgba(255,255,255,0.5);
}

.lagre{
  border-color: coral;
}

/* footer---------------------------------------------------------------------*/
.footer {
  width: auto;
  height: 15%;
  margin-bottom: 0;
  clear: both;
  position: relative;
  margin-top: 80%;
  z-index: -1;
