/* Fonts ---------------------------------------------------------------------*/
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 300;
  src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff');
}

/*Generelt -------------------------------------------------------------------*/
body{
    background-color: #8DA9C4;
    overflow-x: hidden;
    margin-left: 0;
    margin-right: 0;
    width:100%;
    padding: 0;
}

.lenke{
    color: black;
    transition: 0.3s all;
}

.lenke:hover{
  color: white;
  text-shadow: 0px 0px 9px black;
  text-decoration: none;
}

a{
  color: black;
}

a:hover{
  text-decoration: none;
  color: black;
}

#oslomet{
  width: 110px;
  filter: invert(1);
  position: absolute;
  top: 0;
}

.form-group.required .control-label:after {
  color: #d00;
  content: "*";
  position: absolute;
  margin-left: 8px;
  top:7px;
}

/*cards ----------------------------------------------------------------------*/
.card-text{
  max-width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  text-align: justify;
}

/*Midterste node på case.php -------------------------------------------------*/
.main{
    width: 290px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: none;
    transition: all .2s ease-in-out;
}

.main:hover{
    transform: scale(1.01);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
    z-index: 9999;
}

.modalimg{
  max-width: 100%;
}

/* grid ----------------------------------------------------------------------*/
.outer {
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

/*Noder rundt main på case.html ----------------------------------------------*/
.node:hover{
  bow-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.node{
  width: 250px;
  position: absolute;
}

/*noder plassering case.html -------------------------------------------------*/
.n1{
    left: 42%;
    top: 1%;
}

.n2{
    right: 23%;
    top: 13%;
}

.n3{
    right: 20%;
    top: 55%;
}

.n4{
    right: 42%;
    top: 90%;
}

.n5{
    left: 20%;
    top: 55%;
}

.n6{
    left: 23%;
    top: 13%;
}

/*Logg ut / pluss knapp ------------------------------------------------------*/
.logout{
  bottom: 0;
  position: fixed;
  margin: 2%;
}

.pluss{
    border-radius: 50%;
    right: 1%;
    bottom: 2%;
    position: fixed;
    background-color: coral;
    border: 0;
    transition: filter 0.7s;
}

.pluss>.fas{
    margin: auto;
    padding: 15px;
    transition: filter 0.7s;
}

.pluss:hover, .pluss>.fas:hover{
  filter: drop-shadow(0 0 0.2rem black);
}

.pluss>.fas:hover{
  color: white;
}

.new_node{
  font-size: 3em;
  color: gray;
  margin: auto;
}

/*Ikoner i hver case-node ----------------------------------------------------*/
.all_cases_delete{
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.7em;
  margin: 1%;
}

.edit{
  transition: color 0.5s;
}

.all_cases_delete>.edit:hover{
  cursor: pointer;
  color: #DC3545;
}

.edit_icons{
  background-color: rgba(255, 255, 255, 0.5);
  display: none;
  width: 40%;
  position: absolute;
  top: 0;
  right: 0;
  border-bottom-left-radius: 20px;
}

.edit_icons>.edit{
  cursor: pointer;
  padding: 10%;
  margin: 0;
  float: right;
  font-size: 1.5em;
}

.new_picture{
  background-color: rgba(255, 255, 255, 0.7);
  display: none;
  user-select: none;
  width: 50%;
  position: absolute;
  top: 0;
  cursor: pointer;
  padding: 3%;
  font-weight: bold;
  border-bottom-right-radius: 20px;
}

.display_block{
  display: block;
}

.editable{
  background: lightskyblue;
}

.content{
  background-color: green;
  width: 150px;
  height: 30px;
  margin: 2%;
}

.card-img-top{
  height: 150px;
  object-fit: cover;
}

/*Content i hver case node ---------------------------------------------------*/
audio{
  max-width: 98%;
  margin: auto;
  margin-top: 2%;
  margin-bottom: 2%;
}

/* new_case_subnode_modal ----------------------------------------------------*/
.btn-circle.btn-xl {
    border-radius: 90px;
    padding: 10px 20px 10px 20px;
    text-align: center;
    font-size: 1.9em;
    margin: 2%;
}

/*case navigation case_mer.html ----------------------------------------------*/
.navigation{
  float: left;
  overflow: hidden;
  margin-left: 1%;
  top: 15%;
  position: fixed;
}

.navigation>a{
  display: block;
  width: 100px;
  margin-top: 20%;
  margin-bottom: 20%;
}

.navigation>a>img{
  width: 60px;
  height: 60px;
  margin-left: 5%;
  object-fit: cover;
  position: relative;
  display: block;
  border-radius: 50px;
  max-width: 100%;
}

.navigation>a>img:hover{
  transition: filter 0.7s;
  filter: drop-shadow(0 0 0.2rem black);
}

/* login form login.html -----------------------------------------------------*/
.login-container{
    margin-top: 5%;
    margin-bottom: 5%;
}
.login-logo{
    position: absolute;
    display: block;
    margin-left: 33.5%;
    margin-top: 10%;
    width: 120px;
    filter: drop-shadow(0 0 0.2rem black);
    z-index: 1000;
}
.login-logo img{
    height: 120px;
    border-radius: 100px;
    object-fit: cover;
    max-width: 100%;
}
/*administrator side ---------------------------------------------------------*/
.login-form-1{
    padding: 9%;
    background:#282726;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-1 h3{
    text-align: center;
    margin-bottom:12%;
    color:#fff;
}
/*student side ---------------------------------------------------------------*/
.login-form-2{
    padding: 9%;
    background: coral;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-2 h3{
    text-align: center;
    margin-bottom:12%;
    color: #fff;
}
.btnSubmit{
    font-weight: 600;
    width: 50%;
    color: #282726;
    background-color: #fff;
    border: none;
    border-radius: 1.5rem;
    padding:2%;
    transition: transform 0.3s;
    cursor: pointer;
}

.btnSubmit:hover{
  transform: scale(1.05);
}

.btnStudent{
    font-weight: 600;
    width: 100%;
    color: #282726;
    background-color: #fff;
    border: none;
    border-radius: 1.5rem;
    padding:2%;
    cursor: pointer;
    transition: transform 0.3s;
}

.btnStudent:hover{
    transform: scale(1.05);
}

.btnForgetPwd{
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}
.btnForgetPwd:hover{
    text-decoration:none;
    color:#fff;
}


/*!
 * Start Bootstrap - 4 Col Portfolio (https://startbootstrap.com/template-overviews/4-col-portfolio)
 * Copyright 2013-2018 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-4-col-portfolio/blob/master/LICENSE)

 all_cases.html ----------------------------------------------------------------
 */
.portfolio-item{
  margin-bottom: 2%;
  cursor: pointer;
}

.empty>.card{
  background-color: rgba(255,255,255,0.5);
}

/* footer---------------------------------------------------------------------*/
.footer {
  width: auto;
  height: 15%;
  margin-bottom: 0;
  clear: both;
  position: relative;
  margin-top: 80%;
  z-index: -1;
}
