/* Fonts ---------------------------------------------------------------------*/
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 300;
  src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff');
}

/*Generelt -------------------------------------------------------------------*/
body{
    background-color: #EEE;
    overflow-x: hidden;
    margin-left: 0;
    margin-right: 0;
    width:100%;
    padding: 0;
}
h1{
  cursor: default;
}

.lenke{
    color: black;
    transition: 0.3s all;
}

.lenke:hover{
  color: white;
  text-shadow: 0px 0px 9px black;
  text-decoration: none;
}

a{
  color: black;
}

a:hover{
  text-decoration: none;
  color: black;
}

#oslomet{
  width: 110px;
  filter: invert(1);
  position: absolute;
  top: 0;
}

.form-group.required .control-label:after {
  color: #d00;
  content: "*";
  position: absolute;
  margin-left: 8px;
  top:7px;
}

/*cards ----------------------------------------------------------------------*/
.card-text{
  max-width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  text-align: justify;
}

.footer-icons>i{
  color: grey;
  margin: 2%;
}

.empty>.new_node{
  padding: 40%;
}

/*Midterste node på case.php -------------------------------------------------*/
.main>.card{
  width: 290px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  float: none;
  transition: all .2s ease-in-out;
}

.main>.card{
  z-index: 1;
}

.main>.card:hover{
  z-index: 1;
  transform: scale(1.01);
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
}

.modalimg{
  max-width: 100%;
}

#modalheaderimg{
  border-bottom: none;
  padding: 15px 15px 0 15px;
  height: 60px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

/* grid ----------------------------------------------------------------------*/
.outer {
  display: table;
  position: absolute;
  top: 10%;
  left: 0;
  height: 100%;
  width: 100%;
}

.middle {
  display: table-cell;
  vertical-align: middle;

}

/*Noder rundt main på case.html ----------------------------------------------*/
.node:hover{
  bow-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.node{
  z-index: 0;
  width: 250px;
  position: absolute;
}

/*noder plassering case.html -------------------------------------------------*/
.n1{
    left: 42%;
    top: 1%;
}

.n2{
    right: 23%;
    top: 13%;
}

.n3{
    right: 20%;
    top: 55%;
}

.n4{
    right: 42%;
    top: 90%;

}

.n5{
    left: 20%;
    top: 55%;
}

.n6{
    left: 23%;
    top: 13%;
}

/*Logg ut / pluss knapp ------------------------------------------------------*/
.logdiv{
  bottom: 0;
  position: fixed;
  margin: 3%;
  width: 100%;
}

.logout{
  display: inline;
}

.pluss_btn{
  border-radius: 50%;
  margin: 2%;
  bottom: 0;
  right: 0;
  position: fixed;
}

.new_node{
  font-size: 3em;
  color: gray;
  margin: auto;
}

/*Ikoner i hver case-node ----------------------------------------------------*/
.all_cases_delete{
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.7em;
  margin: 1%;
}

.edit{
  transition: color 0.5s;
}

.all_cases_delete>.edit:hover{
  cursor: pointer;
  color: #DC3545;
}

.edit_icons{
  background-color: rgba(255, 255, 255, 0.5);
  display: none;
  width: 40%;
  position: absolute;
  top: 0;
  right: 0;
  border-bottom-left-radius: 20px;
}

.edit_icons>.edit{
  cursor: pointer;
  padding: 10%;
  margin: 0;
  float: right;
  font-size: 1.5em;
}

.display_block{
  display: block;
}

.content{
  background-color: green;
  width: 150px;
  height: 30px;
  margin: 2%;
}

.card-img-top{
  height: 150px;
  object-fit: cover;
}

/*Content i hver case node ---------------------------------------------------*/
audio{
  max-width: 98%;
  margin: auto;
  margin-top: 2%;
  margin-bottom: 2%;
}

.documentView{
  border: 2px solid steelblue;
  border-radius: 20px;
  margin: 1%;
  padding: 1%;
  display: inline-block;
  transition: all 0.5s;
}
.documentView:hover{
  background-color: #EEE;
}
.documentView>a{
  word-break: break-all;
}
.documentView>a>i{
  margin-left: 7px;
  color: steelblue;
}

iframe{
  width: 560px;
  height: 315px;
  margin-left: 14%;
  padding: 1rem;
}

.fa-question{
  font-size: 1.4em;
  color: gray;
  margin: 1.5%;
}

.modal_txt{
  margin-top: 3%;
}

video{
  max-width: 100%;
}

/* new_case_subnode_modal ----------------------------------------------------*/
.btn-circle.btn-xl {
    border-radius: 90px;
    padding: 10px 20px 10px 20px;
    text-align: center;
    font-size: 1.9em;
    margin: 2%;
}

/*case navigation case_mer.html ----------------------------------------------*/
.navigation{
  float: left;
  margin-left: 1%;
  top: 15%;
  position: fixed;
}

.navimg{
  margin: 10%;
  border: 1px solid gray;
  width: 70px;
  height: 70px;
  object-fit: cover;
  position: relative;
  display: block;
  border-radius: 50px;
  max-width: 100%;
}

.navimg:hover{
  filter: drop-shadow(0 0 0.2rem black);
}

/* login form login.html -----------------------------------------------------*/
.login-container{
  margin-top: 5%;
  margin-bottom: 5%;
}

/*administrator side ---------------------------------------------------------*/
.login-form-1{
  padding: 9%;
  background:#282726;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-1 h3{
  text-align: center;
  margin-bottom:12%;
  color:#fff;
}
/*student side ---------------------------------------------------------------*/
.login-form-2{
  padding: 9%;
  background: coral;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-2 h3{
  text-align: center;
  margin-bottom:12%;
  color: #fff;
}
.btnSubmit{
  font-weight: 600;
  width: 50%;
  color: #282726;
  background-color: #fff;
  border: none;
  border-radius: 1.5rem;
  padding:2%;
  transition: transform 0.3s;
  cursor: pointer;
}

.btnSubmit:hover{
  transform: scale(1.05);
}

.btnStudent{
  font-weight: 600;
  width: 100%;
  color: #282726;
  background-color: #fff;
  border: none;
  border-radius: 1.5rem;
  padding:2%;
  cursor: pointer;
  transition: transform 0.3s;
}

.btnStudent:hover{
  transform: scale(1.05);
}

.btnForgetPwd{
  color: #fff;
  font-weight: 600;
  text-decoration: none;
}
.btnForgetPwd:hover{
  text-decoration:none;
  color:#fff;
}


/*!
 * Start Bootstrap - 4 Col Portfolio (https://startbootstrap.com/template-overviews/4-col-portfolio)
 * Copyright 2013-2018 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-4-col-portfolio/blob/master/LICENSE)

 all_cases.html ----------------------------------------------------------------
 */
.portfolio-item{
  margin-bottom: 2%;
  cursor: pointer;
}

.empty>.card{
  background-color: rgba(255,255,255,0.5);
}

/* new_case_subnode_modal ----------------------------------------------------*/
#textInput, #imageInput, #videoInput, #audioInput, #linkInput, #questionInput, .videoInput, #documentInput, #linkInput_beskrivelse, #documentInput_beskrivelse{
  display: none;
}

.removeInput>#removeInput-text{
  font-size: 0.8em;
  position: absolute;
  display: none;
  right: 25px;
  bottom: 40px;
}

.removetext{
  position: absolute;
  right: 0;
  bottom: 47px;
}

.removetext>#removeInput-text{
  width: 80px;
  text-align: right;
}

.removeInput>.fa-remove{
  margin-left: 5px;
  font-size: 1.2em;
  position: absolute;
  right: 5px;
  bottom: 40px;
  transition: color 0.3s;
}

.removeInput>.fa-remove:hover{
  cursor: pointer;
  color: #DC3545;
}

/* footer---------------------------------------------------------------------*/
.footer{
  width: auto;
  height: 250px;
  margin-bottom: 0;
  clear: both;
  position: relative;
  margin-top: 60%;
  z-index: -1;
  background-color: #565656;
}
#p_footer{
  color: white;
  text-align: center;
  padding-top: 130px;
}
